<ion-tabs>
  <ion-tab-bar slot="bottom" (ionTabBarChanged)="change($event)">
    <ion-tab-button tab="zhihu">
      <ion-icon [src]="tabIcon.zhihu"></ion-icon>
      <ion-label>知乎</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="weibo">
      <ion-icon [src]="tabIcon.weibo"></ion-icon>
      <ion-label>微博</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nba">
      <ion-icon [src]="tabIcon.nba"></ion-icon>
      <ion-label>NBA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tech">
      <ion-icon [src]="tabIcon.tech"></ion-icon>
      <ion-label>科技</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
