<ion-header>
  <ion-toolbar> <ion-title>NBA News</ion-title> </ion-toolbar>
</ion-header>

<ion-content padding class="content-background-color">

  <ion-list>
    <a [href]="slideNewsUrl[0]"><img [src]="slideNewspic[0]"></a> 
    <div *ngFor="let item of (hupuNewsMap | keyvalue); let i = index">
      <ion-item-divider *ngIf="(i + 1) % 5 === 0" color="white">
      </ion-item-divider>
      <a [href]="slideNewsUrl[1]" *ngIf="i === 9"><img [src]="slideNewspic[1]"></a> 
      <ion-item>
        <ion-label
          ><a [href]="item.value">{{ item.key }}</a></ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
